body {
    background-color:lightblue;
}
.contenedor {
    width: 40%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left:30%;
    margin-right:30%;
    margin-top:10%;
    border-radius:10px;
}
.caja{
    margin:5%;
    text-align:center;
}
    .caja label {
       margin-top: 10px;
    }
    .caja h2 {
        padding-top:50px;
        color: #5AA4E1;
    }
.entrada {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border-radius:5px;
}
.boton {
    width: 81%;
    height: 40px;
    margin-top: 10px;
    background-color: #5AA4E1;
    color: white;
    border-radius: 5px;
    font-size: large;
}

.contenedor2 {
    width: 80%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 10px;
}

.caja2 {
    margin: 5%;
    text-align: center;
}

    .caja2 label {
        margin-top: 10px;
    }

    .caja2 h4 {
        color: #5AA4E1;
    }
    caja2 p{
        text-align:justify;
    }

.entrada2 {
    width: 80%;
    height: 30px;
    margin-top: 4px;
    border-radius: 5px;
}

.boton2 {
    width: 81%;
    height: 30px;
    margin-top: 4px;
    background-color: #5AA4E1;
    color: white;
    border-radius: 5px;
    font-size: medium;
}
